*{
    padding: 0;
    margin: 0;
}
header{
    background: white;
    display: flex;
border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 20px auto;
padding: 8px 15px;
    
}
body{
    background: lightblue;
}
.head{
    color: rgb(156, 179, 179);
    font-size: 48px;

}

.test{
    background: red;
}
.card{
    background: rgb(115, 133, 133);
border-radius: 25px;
width: 250px;
height: 350px;
display: flex;
padding: 14px;
flex-direction: column; 
justify-content: space-between; 
}
.seller{
    margin: 0 auto;
    background: lightblue;
    width: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 10px;
}
.photo{
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
.name{
    font-size: 27px;
}
.balance{
    font-size: 20px;
}
.products{
    margin: 0 auto;
    gap: 10px;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
}
.bag{
    width: 100%;
    
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; 
    text-align: center
    
}
.header{
    display: flex;
    align-items: center;
}